In [1]:
from empath import Empath
import matplotlib.pyplot as plt
import pandas as pd
import re
import seaborn as sns
from striprtf.striprtf import rtf_to_text
from tqdm import tqdm_notebook

In [2]:
def main_topic_extract(dic):
    test_dict = {k:v for k, v in dic.items() if v > 0}
    test_topic = sorted(test_dict.items(), key = lambda kv:(kv[1], kv[0]), reverse = True)
    return(test_topic)

In [3]:
PAPERS_PATH = "D:\\test_1.csv"

In [4]:
data = pd.read_csv(PAPERS_PATH)

In [5]:
data_use = pd.DataFrame(data['notes'])

In [6]:
lexicon = Empath()

In [7]:
data_use['topic'] = data_use['notes'].apply(lambda x: lexicon.analyze(x, normalize=True))

In [8]:
data_use['topic'] = data_use['topic'].apply(main_topic_extract)

In [9]:
data_use.head()

,notes,topic
0,"On 13 May 2022, an unidentified Palestinian ar...","[(weapon, 0.05), (war, 0.0375), (military, 0.0..."
1,"On 13 May 2022, Israeli police forces severely...","[(violence, 0.024691358024691357), (negative_e..."
2,"Land seizure: On 13 May 2022, Israeli settlers...","[(urban, 0.037037037037037035), (rural, 0.0370..."
3,"On 13 May 2022, an Israeli soldier shot and in...","[(weapon, 0.05660377358490566), (medical_emerg..."
4,"On 13 May 2022, Palestinian rioters clashed wi...","[(pain, 0.05454545454545454), (weakness, 0.018..."

In [10]:
data_tobe_process = pd.read_csv('D:\\out_Empath.csv')
data_tobe_process.head()

,Unnamed: 0,notes,topic
0,0,"On 13 May 2022, an unidentified Palestinian ar...","[('weapon', 0.05), ('war', 0.0375), ('military..."
1,1,"On 13 May 2022, Israeli police forces severely...","[('violence', 0.024691358024691357), ('negativ..."
2,2,"Land seizure: On 13 May 2022, Israeli settlers...","[('urban', 0.037037037037037035), ('rural', 0...."
3,3,"On 13 May 2022, an Israeli soldier shot and in...","[('weapon', 0.05660377358490566), ('medical_em..."
4,4,"On 13 May 2022, Palestinian rioters clashed wi...","[('pain', 0.05454545454545454), ('weakness', 0..."

In [24]:
print(data_tobe_process['topic'][1].split(')')[1].split(',')[0].split('(')[1][1:-1])

violence

In [31]:
data_tobe_process['topic'][1].split(')')[1].split(',')[1].split('(')[1][1:-1]

'negative_emotion'

In [12]:
data_tobe_process['topic'][0].split(')')[4]

", ('celebration', 0.025"